#set($inputRoot = $input.path('$'))
#set ( $root="https://${!context.apiId}.execute-api.${AWS::Region}.amazonaws.com/${!context.stage}")

{"collection":{
    "version":"1.0",
    "href":"$root/api/template/instances",
    "template":{
        "data":{
            "schema":{
                "type":"object",
                "properties":{
                    "ID":{
                        "title":"Instance ID",
                        "description":"The unique identifier for this instance",
                        "type":"string",
                        "immutable":true,
                        "default":"$context.requestId"
                    },
                    "DisplayName":{
                        "title":"Instance DisplayName",
                        "type":"string"
                    },
                    "Description":{
                        "title":"Instance Description",
                        "type":"string"
                    },
                    "InstanceType":{
                        "title":"Instance Compute Type",
                        "type":"string",
                        "enum":[
                            #foreach( $object in $inputRoot.instances)
                            {
                                "value":"$object.value",
                                "text":"$object.name"
                            }#if( $foreach.hasNext ),#end
                            #end
                        ],
                        "default":"ml.t3.medium"
                    },
                    "RoleArn":{
                        "title":"Instance IAM RoleArn",
                        "type":"string",
                        "enum":[
                            {
                                "text":"DefaultRole",
                                "value":"${DefaultNotebookRole.Arn}",
                                "href":"https://console.aws.amazon.com/iam/home?region=${AWS::Region}#/roles/${DefaultNotebookRole}"
                            }
                            #foreach( $object in $inputRoot.roles)
                            ,{
                                "value":"$object.Arn",
                                "text":"$object.RoleName",
                                "href":"https://console.aws.amazon.com/iam/home?region=${AWS::Region}#/roles/$object.RoleName"
                            }
                            #end
                        ],
                        "default":"${DefaultNotebookRole.Arn}"
                    },
                    "KmsKeyId":{
                        "title":"KMS key Id",
                        "type":"string",
                        "immutable":true,
                        "enum":[
                            #foreach( $object in $inputRoot.keys)
                                "$object.KeyId"
                            #if( $foreach.hasNext ),#end
                            #end
                        ]
                    },
                    "DirectInternetAccess":{
                        "title":"Enable/Disable Direct Internet Access",
                        "type":"string",
                        "immutable":true,
                        "enum":["Disabled","Enabled"],
                        "default":"Enabled"
                    },
                    "IdleShutdown":{
                        "title":"Idle Shutdown Wait Period in minutes",
                        "type":"string",
                        "enum":["30","60","120"],
                        "default":"30"
                    },
                    "GlueDevEndpoint":{
                        "title":"Glue development endpoints",
                        "type":"string",
                        "enum":[
                            #foreach( $object in $inputRoot.endpoints)
                                "$object"
                            #if( $foreach.hasNext ),#end
                            #end
                        ]
                    }
                },
                "required":["ID","InstanceType","RoleArn"]
            }        
        }
    }
}}
    
