#set($inputRoot = $input.path('$'))
#set ( $root="https://${!context.apiId}.execute-api.${!context.Region}.amazonaws.com/${!context.stage}")

{"collection":{
    "version":"1.0",
    "href":"$root/api/template/instances",
    "template":{
        "data":{
            "schema":{
                "type":"object",
                "properties":{
                    "ID":{
                        "title":"Instance ID",
                        "description":"The unique identifier for this instance",
                        "type":"string",
                        "immutable":true,
                        "default":"$context.requestId"
                    },
                    "DisplayName":{
                        "title":"Instance DisplayName",
                        "description":"A friendly name for this instance",
                        "type":"string"
                    },
                    "Description":{
                        "title":"Instance Description",
                        "description":"A brief description of how this instance will be used",
                        "type":"string",
                        "maxLength":500
                    },
                    #if( $inputRoot.repos.size() != 0)
                    "CodeRepository":{
                        "description":"A git repository to associate with the notebook instance as its default code repository. When you open a notebook instance, it opens in the directory that contains this repository.",
                        "href":"https://docs.aws.amazon.com/sagemaker/latest/dg/nbi-git-repo.html",
                        "title":"Git Code Repository",
                        "enum":[
                            #foreach( $object in $inputRoot.repos)
                            {
                                "value":"$object.value",
                                "text":"$object.value",
                                "description":"$object.description"
                            }#if( $foreach.hasNext ),#end
                            #end
                        ]
                    },#end
                    #if( $inputRoot.eia.size() != 0)
                    "AcceleratorType":{
                        "title":"Elastic Inference Accelerator",
                        "type":"string",
                        "description":"An Elastic Inference (EI) instance types to associate with this notebook instance",
                        "href":"https://docs.aws.amazon.com/sagemaker/latest/dg/ei.html",
                        "enum":[
                            #foreach( $object in $inputRoot.eia)
                            {
                                "value":"$object.value",
                                "text":"$object.text"
                            }#if( $foreach.hasNext ),#end
                            #end
                        ]
                    },#end
                    "InstanceType":{
                        "title":"Instance Compute Type",
                        "description":"The EC2 instance type for this notebook",
                        "type":"string",
                        "enum":[
                            #foreach( $object in $inputRoot.instances)
                            {
                                "value":"$object.value",
                                "text":"$object.name",
                                "description":"$object.description"
                            }#if( $foreach.hasNext ),#end
                            #end
                        ],
                        "default":"ml.t3.medium"
                    },
                    "RoleArn":{
                        "title":"Instance IAM RoleArn",
                        "description":"Choose the IAM role that will give users on the notebook instance to call AWS APIs",
                        "type":"string",
                        "enum":[
                            {
                                "text":"DefaultRole",
                                "value":"${DefaultNotebookRole.Arn}",
                                "href":"https://console.aws.amazon.com/iam/home?region=${AWS::Region}#/roles/${DefaultNotebookRole}",
                                "description":"Default Sagemaker Role"
                            },
                            {
                                "text":"Create Role",
                                "value":"CREATE",
                                "description":"Create a new role for this instance with the default sagemaker policy applied"
                            }
                            #foreach( $object in $inputRoot.roles)
                            ,{
                                "value":"$object.Arn",
                                "text":"$object.RoleName",
                                "href":"https://console.aws.amazon.com/iam/home?region=${AWS::Region}#/roles/$object.RoleName",
                                "description":"$object.Description"
                            }
                            #end
                        ],
                        "default":"${DefaultNotebookRole.Arn}"
                    },
                    #if( $inputRoot.keys.size() != 0)
                    "KmsKeyId":{
                        "title":"KMS key Id",
                        "description":"A AWS KMS key to use for encrypting the data volumnes of the instance. The Key's policy must enable IAM management. See details for more information",
                        "type":"string",
                        "href":"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam",
                        "immutable":true,
                        "enum":[
                            #foreach( $object in $inputRoot.keys){
                                "text":"$object.KeyId",
                                "value":"$object.KeyId",
                                "href":"https://console.aws.amazon.com/kms/home?region=${AWS::Region}#/kms/keys/$object.KeyId/"
                            }#if( $foreach.hasNext ),#end
                            #end
                        ]
                    },
                    #end
                    "DirectInternetAccess":{
                        "title":"Enable/Disable Direct Internet Access",
                        "type":"string",
                        "immutable":true,
                        "enum":["Disabled","Enabled"],
                        "default":"Enabled"
                    },
                    
                    #if ($inputRoot.glue.size() != 0)
                    "GlueDevEndpoint":{
                        "title":"Glue development endpoints",
                        "type":"string",
                        "enum":[
                            #foreach( $object in $inputRoot.glue){
                                "text":"$object.name",
                                "value":"$object.name",
                                "description":"Nodes:$object.nodes VPC:$object.vpc",
                                "href":"https://console.aws.amazon.com/glue/home?region=${AWS::Region}#devEndpoint:name=$object.name"
                            }#if( $foreach.hasNext ),#end
                            #end
                        ]
                    },#end
                    "OnCreateDocument":{
                        "title":"SSM OnCreate Document",
                        "immutable":true,
                        "description":"An SSM document to run on instance creation.",
                        "ask":"Tell me about the OnCreate Document",
                        "type":"string",
                        "enum":[
                            #foreach( $object in $inputRoot.ssm){
                                "text":"$object.Name",
                                "value":"$object.Name",
                                "description":"$object.Description",
                                "href":"https://console.aws.amazon.com/systems-manager/documents/$object.Name/description?region=${AWS::Region}"
                            }#if( $foreach.hasNext ),#end#end
                        ]
                    },
                    "OnStartDocument":{
                        "title":"SSM OnStart Document",
                        "description":"An SSM document to run on each instance start up.",
                        "type":"string",
                        "enum":[
                            #foreach( $object in $inputRoot.ssm){
                                "text":"$object.Name",
                                "value":"$object.Name",
                                "description":"$object.Description",
                                "href":"https://console.aws.amazon.com/systems-manager/documents/$object.Name/description?region=${AWS::Region}"
                            }#if( $foreach.hasNext ),#end#end
                        ]
                    },
                    "OnStopDocument":{
                        "title":"SSM OnStop Document",
                        "description":"An SSM document to run on each instance shut down.",
                        "type":"string",
                        "enum":[
                            #foreach( $object in $inputRoot.ssm){
                                "text":"$object.Name",
                                "value":"$object.Name",
                                "description":"$object.Description",
                                "href":"https://console.aws.amazon.com/systems-manager/documents/$object.Name/description?region=${AWS::Region}"
                            }#if( $foreach.hasNext ),#end#end
                        ]
                    },
                    "OnTerminateDocument":{
                        "title":"SSM OnTerminate Document",
                        "immutable":true,
                        "description":"An SSM document to run on instance termination.",
                        "ask":"Tell me about the OnTerminate Document",
                        "type":"string",
                        "enum":[
                            #foreach( $object in $inputRoot.ssm){
                                "text":"$object.Name",
                                "value":"$object.Name",
                                "description":"$object.Description",
                                "href":"https://console.aws.amazon.com/systems-manager/documents/$object.Name/description?region=${AWS::Region}"
                            }#if( $foreach.hasNext ),#end#end
                        ]
                    },
                    "IdleShutdown":{
                        "title":"Idle Shutdown Wait Period in minutes",
                        "description":"The number of minutes of inactivity before the instance is shutdown to save cost",
                        "type":"string",
                        "enum":[{
                            "value":"30",
                            "text":"30 minutes"
                        },{
                            "value":"45",
                            "text":"45 minutes"
                        },{
                            "value":"60",
                            "text":"1 hr"
                        }],
                        "default":"30"
                    }
                },
                "required":["ID","InstanceType","RoleArn"]
            }        
        }
    }
}}
    
