#set($inputRoot = $input.path('$'))
#set ( $root="https://${!context.apiId}.execute-api.${!context.Region}.amazonaws.com/${!context.stage}")

{"collection":{
    "version":"1.0",
    "href":"$root/api/template/items",
    "template":{
        "data":{
            "schema":$input.json('$')        
        }
    }
}}
    
