#lex-web-ui nav button{
    color:black; 
}

body .application {
  font-family: 'Nunito', sans-serif;
}

.message-bot .message-text{
    color:black !important;
}
.message-bot .message-bubble{
    background-color:#f5f5f5 !important;
}
