{
    #if ($input.params('type') == 'groups')
        "FunctionName":"${APICloudDirectoryObjectGetLambda.Arn}",
    #elseif ($input.params('type') == 'users')
        "FunctionName":"${APIUserGetLambda.Arn}",
    #else 
        "FunctionName":"${APIInstanceGetLambda.Arn}",
    #end
    "Payload":{
        "FunctionName":"${APICloudDirectoryObjectGetLambda.Arn}",
        "Type":"$input.params('type')",
        "ID":"$input.params('id')"
    }
}
