#set($inputRoot = $input.path('$'))
#set ( $root="https://${!context.apiId}.execute-api.${AWS::Region}.amazonaws.com/${!context.stage}/website/api/messages")

{"collection":{
    "version":"1.0",
    "href":"$root",
    "links":[{
            "href":"$root/instance-request?view=$input.params('view')",
            "title":"Instance Requests",
            "rel":"collection"
    }],
    "items":[]
}}


