<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="root" href="${ApiUrl.href}">
    <meta name="PoolId" content="${IdPool}">
    <meta name="Endpoint" content="${CognitoEndpoint.href}">
    <meta name="ClientId" content="${AdminClient}">
    <meta name="UserPool" content="${UserPool}">
    <meta name="Region" content="${AWS::Region}">
    <link rel="Login" href="${AdminLogin.href}">
    <title>SageGuard ${AWS::StackName}-Admin</title>
    <style>
        #lex-web-ui #lex-web nav {
            color:black;
        }
        #lex-web-ui #lex-web button {
            color:black;
        }
    </style>
  </head>
  <body>
    <div id="App"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.211.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bluebird/latest/bluebird.min.js"></script>
    <script src="assets/vendor.js"></script>
    <script src="assets/admin.js"></script>
	<script src="${LexWebUi.Outputs.LoaderScriptUrl}"></script>
	<script>
      var chatbotUiConfig = {
        ui: {
            toolbarTitle: 'SageGuard Helper',
            showDialogStateIcon: false,
            AllowSuperDangerousHTMLInMessage: true,
            toolbarColor: "grey lighten-4 black--text"
        },
        recorder:{
            enable:false
        }
      };
	  var loaderOpts = {
		baseUrl:"${LexWebUi.Outputs.LoaderScriptUrl}".split('/').slice(0,3).join('/'),
	  };
	  var loader = new ChatBotUiLoader.IframeLoader(loaderOpts);
	  loader.load(chatbotUiConfig)
        .then(()=>{
            document.querySelector("#lex-web-ui nav").classList.add("theme--light")
            document.querySelector("#lex-web-ui nav").classList.remove("theme--dark")
        })
		.catch(function (error) { console.error(error); });
	</script>
  </body>
</html>
