#set($inputRoot = $input.path('$'))
#set ( $root="https://${!context.apiId}.execute-api.${AWS::Region}.amazonaws.com/${!context.stage}")
#set ( $userRoot="$root/website/api")

{"collection":{
    "version":"1.0",
    "href":"$userRoot",
    "links":[],
    "items":[{
            "href":"$userRoot/instances",
            "title":"Notebook Instances",
            "prompt":"Access your notebook instances",
            "name":"instances",
            "render":"computer",
            "rel":"instances"
    },{
            "href":"$userRoot/messages?view=Users",
            "title":"Requests",
            "prompt":"Request access from your Admin to notebook instances",
            "name":"messages",
            "render":"email",
            "rel":"messages"
    }]
}}


