<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="root" href="${ApiUrl.href}/login">
    <meta name="PoolId" content="${IdPool}">
    <meta name="Endpoint" content="${CognitoEndpoint.href}">
    <meta name="ClientId" content="${UserClient}">
    <meta name="UserPool" content="${QNA.Outputs.UserPool}">
    <meta name="Region" content="${AWS::Region}">
    <link rel="Login" href="${UserLogin.href}">
    <title>SageGuard ${AWS::StackName}-user</title>
  </head>
  <body>
    <div id="App"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="assets/vendor.js"></script>
    <script src="assets/user.js"></script>
  </body>
</html>
