#set ( $root="https://${!context.apiId}.execute-api.${AWS::Region}.amazonaws.com/${!context.stage}")

{"collection":{
    "version":"1.0",
    "href":"$root/api",
    "items":[{
        "data":{
            "title":"Welcome to SageGuard",
            "description":"from here you can create, remove, and manager users,groups and notebook instances."
        }
    }],
    "links":[
        {
            "href":"$root/api/users",
            "rel":"resources",
            "name":"Users",
            "render":"person",
            "prompt":"Manage users who log into SageMaker Notebook Instances"
        },
        {
            "href":"$root/api/instances",
            "rel":"resources",
            "name":"SageMaker Instances",
            "render":"computer",
            "prompt":"Manage SageMaker Notebook Instances"
        },
        {   
            "href":"$root/api/groups",
            "rel":"resources",
            "name":"Groups",
            "render":"people",
            "prompt":"Manage Groups of users"
        },
        {   
            "href":"$root/website/api/messages?view=Admins",
            "rel":"messages",
            "name":"Messages",
            "render":"mail_outline",
            "title":"Requests",
            "prompt":"Approve/Deny requests from your users"
        },
        {   
            "href":"https://${QNA.Outputs.ElasticsearchEndpoint}/_plugin/kibana/",
            "rel":"external",
            "name":"Kibana",
            "render":"show_chart",
            "prompt":"Analyze and Visualize logs"
        },
        {   
            "href":"https://console.aws.amazon.com/cognito/users/?region=${AWS::Region}#/pool/${QNA.Outputs.UserPool}",
            "rel":"external",
            "name":"Cognito UserPool Console",
            "prompt":"View/Edit your Cognito User Pool",
            "render":"domain"
        },
        {   
            "href":"https://github.com/aws-samples/aws-sagemaker-build/issues",
            "rel":"external",
            "name":"GitHub Issues",
            "prompt":"Having Trouble? Want new features? submit a ticket in the github repo",
            "render":"message"
        },
        {
            "href":"$root/website/api/instances",
            "title":"instances",
            "name":"instances",
            "render":"computer",
            "rel":"instances",
            "prompt":"login to the instances you have access to"
        },
        {
            "href":"https://console.aws.amazon.com/sagemaker/home?region=${AWS::Region}#/landing",
            "title":"Amazon SageMaker Console",
            "name":"sagemaker",
            "rel":"external"
        }
    ],
    "template":[{
        "data":{
            "schema":{
                "href":"$root/templates/instanceUser"
            },
            "prompt":"Create a user and their instance together"
        },
        "href":"$root/templates/instanceUser"
    },{
        "data":{
            "schema":{
                "href":"$root/templates/bulk"
            },
            "prompt":"Create Multiple Users and Instances"
        },
        "href":"$root/templates/bulk"
    }]
}}


