#set ( $root="https://${!context.apiId}.execute-api.${AWS::Region}.amazonaws.com/${!context.stage}")

{"collection":{
    "version":"1.0",
    "href":"$root/api",
    "items":[
        {
            "href":"$root/api/users",
            "rel":"collection",
            "name":"Users",
            "render":"person",
            "prompt":"Manage users who log into SageMaker Notebook Instances"
        },
        {
            "href":"$root/api/instances",
            "rel":"collection",
            "name":"SageMaker Instances",
            "render":"computer",
            "prompt":"Manage SageMaker Notebook Instances"
        },
        {   
            "href":"$root/api/groups",
            "rel":"collection",
            "name":"Groups",
            "render":"people",
            "prompt":"Manage Groups of users"
        },
        {   
            "href":"https://${QNA.Outputs.ElasticsearchEndpoint}/_plugin/kibana/",
            "rel":"monitor",
            "name":"Kibana",
            "render":"show_chart",
            "prompt":"Analyze and Visualize logs"
        },
        {   
            "href":"https://console.aws.amazon.com/cognito/users/?region=${AWS::Region}#/pool/${QNA.Outputs.UserPool}",
            "rel":"UserPool",
            "name":"Cognito UserPool Console",
            "render":"domain"
        }
    ],
    "template":[{
        "data":{
            "schema":{
                "href":"$root/templates/instanceUser"
            },
            "prompt":"Create a user and their instance together"
        },
        "href":"$root/templates/instanceUser"
    },{
        "data":{
            "schema":{
                "href":"$root/templates/bulk"
            },
            "prompt":"Create Multiple Users and Instances"
        },
        "href":"$root/templates/bulk"
    }]
}}


