#set($inputRoot = $input.path('$'))
#set ( $root="https://${!context.apiId}.execute-api.${AWS::Region}.amazonaws.com/${!context.stage}")
#set ( $userRoot="$root/website/api")
#set ( $instanceRoot="$userRoot/instances")



{"collection":{
    "version":"1.0",
    #if ( $inputRoot.PrevToken.length())
        "href":"$instanceRoot",
    #else
        "href":"$instanceRoot?NextToken=inputRoot.PrevToken",
    #end
    "links":[
        #if ( $inputRoot.NextToken.length())
            {"rel":"next","href":"$instanceRoot?NextToken=$inputRoot.NextToken"}
        #end
        #if(  $inputRoot.NextToken.length() && $inputRoot.Links.length()),#end
        #foreach( $object in $inputRoot.Links)
        {
            "href":"$instanceRoot/$object.TargetObjectReference.Selector.substring(1)",
            "rel":"item"
        }
        #if( $foreach.hasNext ),#end
        #end
    ],
    "items":[{
        "data":{
            "title":"SageMaker Notebook Instances",
            #if($inputRoot.Links() == 0)
                "description":"You do not have access to any notebook instances"
            #else
                "description":"You currently have access to the following instances"
            #end
        }
    }],
    "queries":[
        {   
            #if ( $inputRoot.NextToken.length())
                "href":"$instanceRoot?",
            #else
                "href":"$instanceRoot?NextToken=inputRoot.NextToken",
            #end
            "rel":"search",
            "prompt":"Search for instances by ID",
            "data":[
                {"name":"MaxResults","prompt":"Maximum results to return"},
                {"name":"Query","prompt":"Prefix to search by"}
            ]
        }
    ]
}}


