#set($inputRoot = $input.path('$'))
#set ( $root="https://${!context.apiId}.execute-api.${AWS::Region}.amazonaws.com/${!context.stage}")

{"collection":{
    "version":"1.0",
    "href":"$root/login",
    "links":[],
    "items":[{
            "href":"$root/login/instances",
            "title":"instances",
            "rel":"collection"
    }]
}}


